<h1>Contact Us</h1>

<p>Looking to get a hold of us, eh? Make sure you're calling the right number:</p>
<p>Phone: <%= @country %> <%= @phone %></p>
<p>Email: <%= mail_to('ken.j.davidson@live.ca') %></p>
<br/>

<p><%= link_to('About', { action: 'about' }) %></p>