<h1>Hello from Demo</h1>

<h2>Name</h2>
<%= @name %>

<h2>Ordinals</h2>
<ul>
<% @array.each do |num| %>
  <li><%= num+1 %> = <%= "#{num+1}#{num.ordinal}" %></li>
<% end %>
</ul>

<%= link_to('Home', { action: 'index'}) %>