<h1>Hello World! Love Demo</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<a href="/demo/hello">Hello HTML</a>
<%= link_to('Hello Rails', {controller: 'demo', action: 'hello', name: 'Kenneth' }) %>
<%= demo_hello_path %>

<br/>
<%= link_to('All Subjects', subjects_path) %>