<% content_for(:head_title) { "Edit Page #{@page.name}" }%>

<p>
<%= link_to("<< Back to #{@subject.name}", subject_path(@subject)) %>
</p>

<h2>Edit Page</h2>

<%= form_for(@page, :url => subject_page_path(@subject), :method => 'patch') do |f| %>

<%= render(partial: 'form', locals: { f: f }) %>

<div class="form-buttons">
  <%= f.submit("Save")%>
</div>
<% end %>