<% content_for(:head_title) { "Edit Subject #{@subject.name}" }%>

<p>
<%= link_to('<< Back to Subjects', subjects_path) %>
</p>

<h2>Edit Subject</h2>

<%= form_for(@subject, :url => subject_path, :method => 'patch') do |f| %>

<%= render(partial: 'form', locals: { f: f }) %>

<div class="form-buttons">
  <%= f.submit("Save")%>
</div>
<% end %>